{% extends "logged_out_base.html" %}
{% load static %} 

{% block title %}Welcome{% endblock %}
{% block content %}
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  {% comment %} <main class="w-full px-4 mx-auto max-w-7xl sm:px-6 lg:px-8"> {% endcomment %}
    <div class="relative overflow-hidden bg-blue">
      <img class="object-cover opacity-70" src="{% static "/assets/homepage.jpg" %}" alt="home" />
      <div class="absolute w-full pb-56 leading-4 text-center text-white bg-blue-400 text-8xl bottom-96 drop-shadow-xl"> Go Beyond </div>
      <div class="absolute w-full pb-32 text-4xl leading-4 text-center text-white bg-blue-400 bottom-96 drop-shadow-xl"> Confidence &amp; Self-Esteem focused approach to realise one's potential </div>
      <a class="relative w-full p-4 pb-12 text-4xl text-center bg-white bg-center rounded-full bottom-96 drop-shadow-xl"> Read More </a>

    </div>
    <div class="max-w-xl py-16 mx-auto sm:py-16">
    </div>
  {% comment %} </main> {% endcomment %}
</div>
{% endblock %}