{% extends "logged_out_base.html" %}
{% load static %} 

{% block title %}Areas D:I can help you with{% endblock %}
{% block content %}

<div class="min-h-screen bg-gradient-to-r from-blue to-light-purple">
    <div class="py-10 mx-auto text-6xl font-bold text-center text-white lg:text-8xl drop-shadow-xl ">
      Areas D:I can help you with
    </div>
    <div class="flex justify-center pt-12 space-x-6">
      <div class="max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Student Academic</div>
          <p class="text-base text-gray-700">
            For students who would like to develop their education potential with academic-related skills.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#Minor</span>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            Options
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Learning & Studying
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Organisation & Time Managament
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Coursework
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Humanities Subjects
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Systems of Knowledge
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>

      <div class="max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Student PSCD</div>
          <p class="text-base text-gray-700">
            For students who would like to further develop their Personal and Social skills.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#Minor</span>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            Options
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Assertiveness Skills
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Presentation Skills
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Relationship Skills
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Employability Skills
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Managing Your Talent
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>

      <div class="relative max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Parent Mentoring</div>
          <p class="text-base text-gray-700">
            For parents to improve their relationships with challenging children.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#Adult</span>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            Options
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Refine Communication
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Improve Effectiveness
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Efficient Control
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Creating Motivators
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Better Relationships
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>

      <div class="relative max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Life Coaching</div>
          <p class="text-base text-gray-700">
            Self and mindset managment for any adult struggling to achieve their goals and aspirations.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#Adult</span>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            Options
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Adjustment & Adaptation
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Daily Assertiveness
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Decision-making
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Motivation & Drive
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Relationships & Partners
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                Breaking Habits & Self Control
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}