{% extends "logged_out_base.html" %}
{% load static %} 

{% block title %}Programs{% endblock %}
{% block content %}

<div class="min-h-screen bg-gradient-to-r from-blue to-light-purple">
    <div class="py-10 mx-auto text-6xl font-bold text-center text-white lg:text-8xl drop-shadow-xl ">
      Programs
    </div>
    <div class="flex justify-center pt-12 space-x-6">
      <div class="max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Package One</div>
          <p class="text-base text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#cheap</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#renewable</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#english</span>
        </div>
        <div class="py-4">
          <div class="mb-2 text-2xl">
            <span class="font-bold "> £20 </span>
               a month
          </div>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            What you'll get
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                One on One Mentoring
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                24/7 Assistance
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>

      <div class="max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Package Two</div>
          <p class="text-base text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#cheap</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#renewable</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#english</span>
        </div>
        <div class="py-4">
          <div class="mb-2 text-2xl">
            <span class="font-bold "> £50 </span>
               a month
          </div>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            What you'll get
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                One on One Mentoring
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                24/7 Assistance
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>

      <div class="relative max-w-sm px-6 overflow-hidden bg-white rounded shadow-lg">
        <div class="py-4">
          <div class="mb-2 text-xl font-bold">Package Three</div>
          <p class="text-base text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="pt-4 pb-2">
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#cheap</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#renewable</span>
          <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#english</span>
        </div>
        <div class="py-4">
          <div class="mb-2 text-2xl">
            <span class="font-bold "> £100 </span>
               a month
          </div>
        </div>
        <div>
          <p class="pb-4 text-base text-gray-700">
            What you'll get
          </p>
          <div class="pb-4">
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                One on One Mentoring
            </p>
            <p class="flex items-center text-gray-600">
              <i class="px-4 text-green-300 fa-solid fa-check"></i>
                24/7 Assistance
            </p>
          </div>
        </div>
        <div class="max-w-sm p-2 mb-10 overflow-hidden text-center text-white rounded shadow-lg bg-light-blue">
          Try Now!
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}