{% extends "logged_out_base.html" %}
{% load static %} 

{% block title %}Testemonials{% endblock %}
{% block content %}

<div class="min-h-screen bg-gradient-to-r from-blue to-light-purple">
    <div class="py-10 mx-auto text-4xl font-bold text-center text-white lg:text-6xl drop-shadow-xl ">
      What our students have to say about us!
    </div>
    <div class="flex justify-center pt-12 space-x-6">
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-teal"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            Topics are presented with a level of depth and understanding like no other. Explanations are not simple and shallow, but detailed enough to be useful. 
          </p>
        </div>
        <div class="bg-opacity-70 bg-teal">
          <div class="relative pb-20 ">
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
              {% comment %} <img class="absolute left-0 right-0 object-cover w-32 mx-auto border-8 border-white rounded-full -top-14" src="{% static "/assets/portrait.jpg" %}" alt="home" /> {% endcomment %}
          </div>
          <h1 class="text-xl text-center text-white drop-shadow-2xl"> Student </h1>
          <h1 class="pb-6 text-xl text-center text-white drop-shadow-2xl"> Age 13 </h1>
        </div>
      </div>
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-purple"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            Topics Interesting, insights innovative, good agenda for topics, absolutely amazing understanding of another person’s position 
          </p>
        </div>
        <div class="bg-opacity-70 bg-purple">
          <div class="relative pb-20 ">
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
          </div>
          <h1 class="text-xl text-center text-white drop-shadow-2xl"> Adult</h1>
          <h1 class="pb-6 text-xl text-center text-white drop-shadow-2xl"> Age 21 </h1>
        </div>
      </div>
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-seaweed"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            No matter what I present, it is always understood within minutes. An excellent service for anyone wishing to improve on just about anything. 
          </p>
        </div>
        <div class="bg-opacity-70 bg-seaweed">
          <div class="relative pb-20 ">
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
          </div>
          <h1 class="text-xl text-center text-white drop-shadow-2xl"> MCAST Student</h1>
          <h1 class="pb-6 text-xl text-center text-white drop-shadow-2xl"> Age 22 </h1>
        </div>
      </div>
    </div>
    <div class="flex justify-center pt-12 space-x-6">
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-blue"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            The sessions for my daughter have been a guidance for parents to develop new insights along the way with the ever changing challenges of teenage life. 
          </p>
        </div>
        <div class="bg-opacity-70 bg-blue">
          <div class="relative pb-20 ">
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
          </div>
          <h1 class="text-xl text-center text-white drop-shadow-2xl"> Parent </h1>
          <h1 class="pb-6 text-xl text-center text-white drop-shadow-2xl"> Age 46 </h1>
        </div>
      </div>
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-light-blue"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            I felt understood to the point where I was immediately very comfortable, and with hope to start working on things I never believed I could improve on          </p>
        </div>
        <div class="bg-opacity-70 bg-light-blue">
          <div class="relative pb-20 ">
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
          </div>
          <h1 class="text-xl text-center text-white drop-shadow-2xl"> Adult </h1>
          <h1 class="pb-6 text-xl text-center text-white drop-shadow-2xl"> Age 44 </h1>
        </div>
      </div>
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-light-blue"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-[72px] text-base text-center text-gray-500">
            When you think differently you feel isolated. When you do not like to conform you feel rejected. I am so thrilled to been understood and accepted, and finally found my direction.        </div>
        <div class="bg-opacity-70 bg-teal">
          <div class="relative pb-20 ">
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
          </div>
          <h1 class="text-xl text-center text-white drop-shadow-2xl"> Student </h1>
          <h1 class="pb-6 text-xl text-center text-white drop-shadow-2xl"> Age 16 </h1>
        </div>
      </div>
    </div>
    <div class="pb-20">
    </div>
  </div>
</div>
{% endblock %}