{% extends "logged_out_base.html" %}
{% load static %} 

{% block title %}Testemonials{% endblock %}
{% block content %}

<div class="min-h-screen bg-gradient-to-r from-blue to-light-purple">
    <div class="py-10 mx-auto text-4xl font-bold text-center text-white lg:text-6xl drop-shadow-xl ">
      What our students have to say about us!
    </div>
    <div class="flex justify-center pt-12 space-x-6">
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-teal"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vulputate felis, vel convallis quam. Vestibulum quis cursus ex. Donec vel purus non lorem venenatis tincidunt. Morbi turpis nibh, ornare eu suscipit vitae, semper ac leo. Nunc accumsan, ligula eget condimentum volutpat, elit ante viverra odio, eu blandit orci orci sagittis magna. Maecenas a est dolor. Nullam nec nunc sollicitudin nunc mattis efficitur. 
          </p>
        </div>
        <div class="bg-opacity-70 bg-teal">
          <div class="relative pb-20 ">
              <img class="absolute left-0 right-0 object-cover w-32 mx-auto border-8 border-white rounded-full -top-14" src="{% static "/assets/portrait.jpg" %}" alt="home" />
          </div>
          <h1 class="pb-6 text-center text-white drop-shadow-2xl"> Nick Kissaun </h1>
        </div>
      </div>
      <div class="max-w-sm overflow-hidden bg-white rounded shadow-lg drop-shadow-xl">
        <div class="px-6 py-4 ">
          <i class="text-4xl fa-solid fa-quote-left text-purple"></i>
        </div>
        <div class="px-6 ">
          <p class="px-6 pb-24 text-base text-center text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at vulputate felis, vel convallis quam. Vestibulum quis cursus ex. Donec vel purus non lorem venenatis tincidunt. Morbi turpis nibh, ornare eu suscipit vitae, semper ac leo. Nunc accumsan, ligula eget condimentum volutpat, elit ante viverra odio, eu blandit orci orci sagittis magna. Maecenas a est dolor. Nullam nec nunc sollicitudin nunc mattis efficitur. 
          </p>
        </div>
        <div class="bg-opacity-70 bg-purple">
          <div class="relative pb-20 ">
            {% comment %} <i class="absolute left-0 right-0 p-4 mx-auto text-4xl text-gray-700 bg-white border-8 border-white rounded-full -top-14 fa-solid fa-user"></i> {% endcomment %}
            <div class="absolute left-0 right-0 w-32 mx-auto -top-16 ">
              <i class="p-6 text-white bg-gray-700 border-8 border-white rounded-full text-client-review fa-solid fa-user "></i>
            </div>
          </div>
          <h1 class="pb-6 text-center text-white drop-shadow-2xl"> Tom Hanks </h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}