{% extends "logged_out_base.html" %}
{% load static %} 

{% block title %}Welcome{% endblock %}
{% block content %}
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gradient-to-r from-blue to-light-purple">
  <div class="grid grid-cols-3 text-white">
    <div class="col-span-2">
      <div class="pt-10 mx-auto text-6xl font-bold text-center text-white lg:text-8xl drop-shadow-xl ">
        What We Do
      </div>
      <div class="pt-6 space-y-8 text-2xl p-14">
        <div>
          For decades it has been understood and agreed upon that knowing something is just a very simplistic/basic level of knowledge. 
          Understanding was always a more prized stage. 
          And if you could use this understanding and apply it to your daily life then you are a genius. 
          Right? Not exactly.
        </div>
        <div>
          For decades it has been understood that all of those are lower levels of thinking. 
          It is the higher-order thinking abilities that make one stand out. 
          At standard secondary education level all countries are struggling to see that their students are skilled at higher order levels. 
          And so is Malta.
        </div>
        <div>
          The Program for International Student Assessment (PISA) shows that Malta is stills seriously struggling with this issue. 
          There are a myriad of reasons. 
          The good news is that D:I has been created to address just such issues.
        </div>
        <div>
          Aimed at students aged 13-25 D:I offers Mentoring to enable students to be introduced to the style of higher order thinking and making it standard.
            The process will have a direct effect on student confidence and self-esteem together with reduced insecurity and stronger sense of identity.
        </div>
      </div>
    </div>
    <img class="object-cover col-start-3 drop-shadow-2xl" src="{% static "/assets/lamp_post.jpg" %}" alt="home" />
  </div>
</div>
{% endblock %}